<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
			
$(document).ready(function(){

    $("#count").change(function(){
    $("#assetmodal").hide();
    if (this.value == 'new')
    {
	
         $("#assetmodal").show();
         $("#submit").hide();
    }

 });
});

		
</script>
</head>
<body>	
<table>
<tr>
<td>
Select Type:
</td>
<td>
<select class="selectpicker form-control" id="count">
     <option value="Laptop">Laptop</option>
     <option value="Mouse">Mouse</option>
          <option value="Keyboard">Keyboard </option>
               <option value="new">Other type </option>
</select>
</td>
</tr>
<tr>
<td colspan="2"><input type="submit" value="submit" id="submit">
</td>
<tr>
</table>
<div id="assetmodal" style="display:none">
    <h1>Asset Form</h1>
    <form id="assetform" name="assetform" method="post" action="index.html">
      <label for="assetname">Assetname:</label>
      <input type="text" name="assetname" id="assetname" class="txtfield" tabindex="1">

      <label for="type">Asset Type:</label>
      <input type="type" name="type" id="type" class="txtfield" tabindex="2">

      <div class="center"><input type="submit" name="loginbtn" id="submitbtn" class="flatbtn-blu hidemodal" value="submit" tabindex="3"></div>
    </form>
  </div>
</body>
</html>